<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>calculator</title>
</head>
<style type="text/css">
body{
    background-color:bisque;
}
#input-field{
width:40%;
height:50px;
border-color:black;
font-size:20px;
}
#button{
    font-size:20px;
}
</style>
<body>
    <form method="POST" action="/calculate">
        <input type="text" id="input-field" placeholder="enter number" name="input">
       <P> <button id="button">Calculate</button></P>
    </form>
  
</body>
</html>

